body {
  background-color: lightblue;
}

h1 {
  color: black;
  font-family: 'comfortaa' !important;
  text-align: center;
}

p {
  color: darkgray;
  font-family: 'comfortaa' !important;
  font-size: 20px;
}
